{% extends 'base.html' %} {% load static %} {% block content %} {% csrf_token %}
<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <img
        class="intro-img img-fluid mb-3 mb-lg-0 rounded"
        src="{% static 'assets/img/intro.jpg' %}"
        alt="Picture of Ethiopian traditional Food"
      />
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4">
          <span class="section-heading-upper">Needs to be added</span>
          <span class="section-heading-lower">needs to be added</span>
        </h2>
        <p class="mb-3">New style or text needed!</p>
        <div class="intro-button mx-auto">
          <a class="btn btn-primary btn-xl" href="{% url 'contact' %}"
            >Visit Us Today!</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner bg-faded text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Our Promise</span>
            <span class="section-heading-lower">To You</span>
          </h2>
          <p class="mb-0">Other Text or style needs to be added!</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
